<div class="card mb-4">
  <div class="card-header d-sm-flex align-items-center justify-content-between">
    <h1 class="h3 mb-0 text-gray-800">{{ pageTitle }}</h1>
    <button class="btn btn-primary">ADD</button>
  </div>
  <div class="card-body">
    @if (cargos.length > 0) {
    <div class="table-responsive">
      <table datatable [dtOptions]="dtoptions" [dtTrigger]="dttrigger">
        <thead>
          <tr>
            <th>ID</th>
            <th>DESCRIPCION</th>
            <th>ESTADO</th>
            <th>FECHA</th>
          </tr>
        </thead>
        <tbody>
          @for (item of cargos; track item.id) {
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.descripcion }}</td>
            <td>
              1
            </td>
            <td>{{ item.createdAt | date : "dd/MM/yyyy" }}</td>
          </tr>
          }
        </tbody>
        <tfoot>
          <tr>
            <th>ID</th>
            <th>DESCRIPCION</th>
            <th>ESTADO</th>
            <th>FECHA</th>
          </tr>
        </tfoot>
      </table>
    </div>
    }
  </div>
</div>
